

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
/* ---------------------------------------------------------------
Variables CSS
*/

/* Primary Colors */
--Color-Primary-0: #FCEAE9;
--Color-Primary-1: #F6BFBC;
--Color-Primary-2: #F0948F;
--Color-Primary-3: #EA6962;
--Color-Primary-4: #E43E35;
--Color-Primary-5: #CA251B;
--Color-Primary-6: #9D1D15;
--Color-Primary-7: #70150F;
--Color-Primary-8: #430C09;
--Color-Primary-9: #160403;

/* Secondary Colors */
--Color-Second-0: #E9FBFC;
--Color-Second-1: #BCF3F6;
--Color-Second-2: #8FEAF0;
--Color-Second-3: #62E2EA;
--Color-Second-4: #35DAE4;
--Color-Second-5: #1BC1CA;
--Color-Second-6: #15969D;
--Color-Second-7: #0F6B70;
--Color-Second-8: #094043;
--Color-Second-9: #031516;

/* Neutral Colors */
--Color-Neutral-0: #F3F2F2;
--Color-Neutral-1: #DBD7D7;
--Color-Neutral-2: #C2BCBC;
--Color-Neutral-3: #AAA1A1;
--Color-Neutral-4: #928787;
--Color-Neutral-5: #786D6D;
--Color-Neutral-6: #5E5555;
--Color-Neutral-7: #433D3D;
--Color-Neutral-8: #282424;
--Color-Neutral-9: #0D0C0C;


/* Primary Fonts */
/* --Font-Titles-0: font-family: 'Nunito', sans-serif; */
/* 
--titulos-1: 400 3.1875rem/8.124999701976776rem Nunito; 
--titulos-1-bolt: extrabold 3.1875rem/8.124999701976776rem Nunito; 
--titulos-2: 400 2.375rem/8.124999701976776rem Nunito; 
--titulos-2-bolt: extrabold 2.375rem/8.124999701976776rem Nunito; 
--titulos-3: 400 1.75rem/8.124999701976776rem Nunito; 
--titulos-3-bolt: 700 1.75rem/8.124999701976776rem Nunito; 
--titulos-4: 400 1.3125rem/8.124999701976776rem Nunito; 
--titulos-4-bolt: 700 1.3125rem/8.124999701976776rem Nunito; 
--titulos-5: 400 1rem/8.124999701976776rem Nunito; 
--titulos-5-bolt: 700 1rem/8.124999701976776rem Nunito; 
--titulos-6: 400 0.75rem/10.9375rem Nunito; 
--titulos-6-bolt: 700 0.75rem/10.9375rem Nunito; 
--titulos-7-bolt: 700 0.5625rem/normal Nunito; 
--titulos-7: 400 0.5625rem/normal Nunito; 

/* --texto-1: 400 3.1875rem/normal PT Sans;  */
/* --texto-1: PT Sans;  */
/* --texto-1-bolt: 700 3.1875rem/normal PT Sans;  */
/* --texto-1-bolt: PT Sans bold;

--texto-2: 400 2.375rem/normal PT Sans; 
--texto-2-bolt: 700 2.375rem/normal PT Sans; 
--texto-3: 400 1.75rem/normal PT Sans; 
--texto-3-bolt: 700 1.75rem/normal PT Sans; 
--texto-4: 400 1.3125rem/normal PT Sans; 
--texto-4-bolt: 700 1.3125rem/normal PT Sans; 
--texto-5: 400 1rem/10.9375rem PT Sans; 
--texto-5-bolt: 700 1rem/10.9375rem PT Sans; 
--texto-6: 400 0.75rem/normal PT Sans; 
--texto-6-bolt: 700 0.75rem/normal PT Sans; 
--texto-7: 400 0.5625rem/normal PT Sans; 
--texto-7-bolt: 700 0.5625rem/normal PT Sans;  */ 
/* --------------------------------------------------------------- */
}


.nav{
  position: fixed;
  display: grid;
  /* grid-template-columns: 20% 25% auto; */
  grid-template-columns: 40% auto;
  gap: 0.625rem;
  background-color: var(--Color-Neutral-9);
  min-height: 4.125rem;
  width: 100vw;
} div.light .nav{
    background-color: var(--Color-Neutral-1);
}
  .nav__container__logo{
    background-color: #1BC1CA;
    /* margin-left: 1.5rem; */
    display: flex;
    align-items: center;
  } .nav__container__logo .logo{
      background-color: #187e83;
      display: flex;
      margin-left: 1rem;
    }
  .nav__container__lang-and-dark{
    background-color: #0F6B70;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  } .nav__container__lang-and-dark .language_and_light-dark{
      background-color: #1BC1CA;
    }
  .nav__container__navs{
    background-color: #4e6a6c;
    margin-right: 1.5rem;
  }
  
  /*--- <Mobile menu> ---*/

/* -- <logo> -- */
.logo span{
  color: var(--Color-Second-0);
  font-family: Nunito;
  font-size: 12px;
} div.light .logo span{
    color: var(--Color-Primary-9);
    font-family: Nunito;
    font-size: 12px;
}
.nav__logo{
  height: 1.5625rem;
  border-radius: 1rem;
}
/* --</logo>-- */

/* .nav__input:checked + .nav__menu{
  background-color: tomato;
} */
.nav__img svg{
 background-color:var(--Color-Primary-9);
}

/* .nav__container{
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
} */

.nav__label, .nav__input{
  display: none;
}

.nav__menu{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2rem;
}


.nav__item{
  color: var(--Color-Second-0);
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}div.light .nav__item{
  color: var(--Color-Primary-9)
}
.nav__item::after{
  content: "";
  display: block;
  background-color: var(--Color-Second-0);
  width: 90%;
  margin-top: 0.1875rem;
  height: 0.1875rem;
  clip-path: var(--clippy);
  transition: clip-path .3s;
}div.light .nav__item::after{
  background-color: var(--Color-Neutral-9);
}
.nav__item:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* <Language> */
.language{
  /* background-color: #ecf5f6; */
  width: 15vw;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.language button{
  display: none;
  border: none;
  
}
.language-switch{
  display: flex;
  justify-content: space-between;
  width: 3rem;
}

.language_and_light-dark{
  width: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* </Language> */

@media (max-width: 990px) {
  .nav__label{
    display: block;
    cursor: pointer;
  }
  .nav__menu{
    position: fixed;
    top: 5rem;
    bottom: 0;
    background-color: var(--Color-Neutral-9);
    width: 100vw;
    height: 55vh;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 1s;
  }div.light .nav__menu{
      background-color: var(--Color-Neutral-1) ;
    }
.nav__input:checked + .nav__menu{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
.language_and_light-dark{
    /* background-color: #35DAE4; */
    height: 6rem;
    width: 60vw;
  }
.language{
  /* background-color: #094043; */
  min-width: 6rem;
}
}
/* <light & dark mode> */
.switch{
  background-color:orange;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--Color-Second-0);
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: var(--Color-Second-0)
}
.switch.active{
  background-color:var(--Color-Neutral-8);
  color: var(--Color-Neutral-9);
}
.switch.active::after{
  right: unset;
  left: 0;
}
.light-dark{
  height: 3rem;
  width: 12.5vw;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;

}
/* </ light & dark mode> */
/* -----</ Mobile Menu>------ */


 .gridContainter{
  background-color: var(--Color-Primary-9);
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
 }
 div.light .gridContainter{
  background-color: var(--Color-Primary-0);
 }


 .Header{
  background-color: var(--Color-Primary-9);
  border-style: solid;
  height: 18.375rem;
  margin-top: 6.1875rem;
  margin-bottom: 84px;
  /* height: 18.375rem; */
 }div.light .Header{
 background-color: var(--Color-Primary-0);
 color: var(--Color-Primary-9);
  
}
 .About_me{
  background-color: var(--Color-Primary-9);
  border-style: solid;
  height: 24.5625rem;
  margin-bottom: 5.25rem;
 }div.light .About_me{
  background-color: var(--Color-Primary-0);
  color: var(--Color-Primary-9);
  font-family: Nunito;
  font-size: 12px;
}
 .Skills{
  background-color: var(--Color-Primary-9);
  border-style: solid;
  height: 52.125rem;
  margin-bottom: 6.5625rem;
 }div.light .Skills{
  background-color: var(--Color-Primary-0);
  color: var(--Color-Primary-9);
 }
 .My_projects{
  background-color: var(--Color-Primary-9);
  border-style: solid;
  height: 58.125rem;
  margin-bottom: 4.4375rem;
 }div.light .My_projects{
  background-color: var(--Color-Primary-0);
  color: var(--Color-Primary-9);
 }
 .Footer{
  background-color: var(--Color-Primary-9);
  border-style: solid;
  height: 11.875rem;
 }div.light .Footer{
  background-color: var(--Color-Primary-0);
  color: var(--Color-Primary-9);
 }




/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
