

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
/* ---------------------------------------------------------------
Variables CSS
*/

/* Primary Colors */
--Color-Primary-0: #FCEAE9;
--Color-Primary-1: #F6BFBC;
--Color-Primary-2: #F0948F;
--Color-Primary-3: #EA6962;
--Color-Primary-4: #E43E35;
--Color-Primary-5: #CA251B;
--Color-Primary-6: #9D1D15;
--Color-Primary-7: #70150F;
--Color-Primary-8: #430C09;
--Color-Primary-9: #160403;

/* Secondary Colors */
--Color-Second-0: #E9FBFC;
--Color-Second-1: #BCF3F6;
--Color-Second-2: #8FEAF0;
--Color-Second-3: #62E2EA;
--Color-Second-4: #35DAE4;
--Color-Second-5: #1BC1CA;
--Color-Second-6: #15969D;
--Color-Second-7: #0F6B70;
--Color-Second-8: #094043;
--Color-Second-9: #031516;

/* Neutral Colors */
--Color-Neutral-0: #F3F2F2;
--Color-Neutral-1: #DBD7D7;
--Color-Neutral-2: #C2BCBC;
--Color-Neutral-3: #AAA1A1;
--Color-Neutral-4: #928787;
--Color-Neutral-5: #786D6D;
--Color-Neutral-6: #5E5555;
--Color-Neutral-7: #433D3D;
--Color-Neutral-8: #282424;
--Color-Neutral-9: #0D0C0C;
}


.nav{
  position: fixed;
  display: grid;
  grid-template-columns:3fr 1fr;
  gap: 0.625rem;
  background-color: var(--Color-Neutral-9);
  height: 4.125rem;
  width: 100vw;
} div.light .nav{
    background-color: var(--Color-Second-1);
}
  .nav__container__logo{
    display: flex;
    align-items: center;
  } .nav__container__logo .logo{
      display: flex;
      margin-left: 1rem;
    }
  .nav__container__lang-and-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 16vh;
    width: 30vw;
  }
  .nav__img__menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  } .nav__img__menu .nav__label{
    margin-right: 1rem;
  }
  
/*--- <Mobile menu> ---*/
  /* -- <logo> -- */
.logo span{
  color: var(--Color-Second-0);
  font-family: "Nunito";
  font-size: 12px;
} div.light .logo span{
    color: var(--Color-Primary-9);
  }
.nav__logo{
  height: 1.5625rem;
  border-radius: 1rem;
}/* --</logo>-- */

.nav__img svg{
 background-color:var(--Color-Primary-9);
}
.nav__label, .nav__input{
  display: none;
}
.div_link_g a{
  color: var(--Color-Second-0);
  text-decoration: none;
  font-family: "Nunito";
  font-size: 1rem;
  position: relative;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}div.light .div_link_g a{
  color: var(--Color-Primary-9);
  font-family: "Nunito";
}
.div_link_g a::after{
  content: "";
  display: block;
  background-color: var(--Color-Second-0);
  width: 100%;
  margin-top: 0.1875rem;
  height: 0.1875rem;
  clip-path: var(--clippy);
  transition: clip-path .3s;
}div.light .div_link_g a::after{
  background-color: var(--Color-Neutral-9);
}
.div_link_g a:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.div_link_g a.nav__item__active::after{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

/* <Language> */
.language{
  /* background-color: #ecf5f6; */
  min-width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language button{
  border: none;
  cursor: pointer;
}
.language button img{
  height: 1.4rem;
}
.language-switch{
  display: flex;
  justify-content: space-between;
  width: 3rem;
}
/* </Language> */

/* #close_menu{
  background-color: #094043;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
} */


/* <light & dark mode> */
.switch{
  background-color:orange;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after{
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  position: absolute;
  background-color: var(--Color-Second-0);
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.switch span{
  width: 27px;
  height: 27px;
  line-height: 0px;
  display: block;
  background: none;
  color: var(--Color-Second-0)
}
#moon_1{
  position: relative;
  top: 1px;
  right: 1px;
  height: 20px;
  width: 20px;
}
.switch.active{
  background-color:var(--Color-Neutral-8);
  color: var(--Color-Neutral-9);
}
.switch.active::after{
  right: unset;
  left: 0;
}
.light-dark{
  /* background-color: #094043; */
  height: 3rem;
  width: 12.5vw;
  width: 10rem;
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
}

/* </ light & dark mode> */
/* -----</ Mobile Menu>------ */


@media (max-width: 700px){
  /* < 700px = Mobile */
  .nav__label{
    display: block;
    cursor: pointer;
  }
  .nav__menu{
    position: fixed;
    top: 5rem;
    bottom: 0;
    background-color: var(--Color-Neutral-9);
    width: 100vw;
    height: 60vh;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 1s;
  }div.light .nav__menu{
      background-color: var(--Color-Second-1) ;
    }
  .nav__input:checked + .nav__menu{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .language{
   min-width: 6rem;
  }
}
@media (min-width: 350px) {
 .nav__container__lang-and-dark{
  /* background-color: #15969D; */
  display: flex;
  flex-direction: row;
  width: 50vw;
 }
}
@media (min-width: 700px){
  .nav__label{
    display: block;
    cursor: pointer;
  }
  .nav__menu{
    position: fixed;
    top: 5rem;
    bottom: 0;
    background-color: var(--Color-Neutral-9);
    width: 100vw;
    height: 55vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 1s;
  }div.light .nav__menu{
      background-color: var(--Color-Second-1) ;
    }
  
  .nav__input:checked + .nav__menu{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .language{
   min-width: 6rem;
  }
  .center__light{
    grid-column: 1/3;
    /* background-color: #1BC1CA; */
    display: flex;
    justify-content: center;
  }
  .nav__container__lang-and-dark{
    /* background-color: #094043; */
    /* grid-column: 2/3; */
  }
  .nav__item{
    display: block;
    /* border: 1px solid red; */
    text-align: center;
    width: 8rem;
  }
  .nav__item:active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  #div_link_1{
    grid-column: 1/3;
    /* background-color: #1BC1CA; */
    display: flex;
    justify-content: center;
  }
  #div_link_2{
    grid-column: 1/2;
    /* background-color: #1BC1CA; */
    display: flex;
    justify-content: center;
  }
  #div_link_3{
    grid-column: 2/3;
    /* background-color: #1BC1CA; */
    display: flex;
    justify-content: center;
  }
  #div_link_4{
    grid-column: 1/2;
    /* background-color: #1BC1CA; */
    display: flex;
    justify-content: center;
  }
  #div_link_5{
    grid-column: 2/3;
    /* background-color: #1BC1CA; */
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .nav__menu{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .nav{
    display: grid;
    grid-template-columns: 1fr 6fr;
  }
  .nav__img{
    display: none;
  }
  .nav__menu{
    background-color: var(--Color-Neutral-9);
    position: fixed;
    top: 0rem;
    left: 15vw;
    width: 84vw;
    height: 4rem;
    display: flex;
    justify-content: space-evenly
  }div.light .nav__menu{
      background-color: var(--Color-Second-1) ;
    }
    .light-dark{
      /* background-color: #35DAE4; */
      height: 2rem;
      width: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .nav__container__lang-and-dark{
      /* background-color: #094043; */
      display: flex;
      justify-content: space-between;
      width: 17vw;
      height: 4rem;
    }
  .language button img{
    /* background-color: #1BC1CA; */
    height: 1rem;
  }

    .switch{
      width: 2.5rem;
      height: 1.2rem;
    }
    .switch::after{
      width: 1.25rem;
      height: 1.25rem;
    }
    .switch span{
      width: 20px;
      line-height: 0px;
    }

    .light-dark span img{
      width: 19px;
    }
    #moon_1{
      position: relative;
      top: 0px;
      right: 1px;
      height: 15px;
      width: 15px;
    }

    .light-dark{
      /* background-color: #15969D; */
      width: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .language{
      /* background-color: #1BC1CA; */
      min-width: 4rem;
    
    }
  
    .nav__container__lang-and-dark{
      /* background-color: #15969D; */
      display: flex;
      align-items: center;
      justify-content:space-between;
      height: 16vh;
      width: 14vw;
    }
}




 .gridContainter{
  background-color: var(--Color-Primary-9);
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
 }
 div.light .gridContainter{
  background-color: var(--Color-Second-0);
 }

 .Header{
  height: 13rem;
  margin-top: 6.1875rem;
  margin-bottom: 84px;
 }div.light .Header{
  border-bottom: solid;
}
 .About_me{
  /* border-style: solid; */
  margin-bottom: 5.25rem;
 }div.light .About_me{

}
 .Skills{
  /* background-color: var(--Color-Primary-9); */
  /* border-style: solid; */
  /* height: 52.125rem; */
  margin-bottom: 6.5625rem;
 }div.light .Skills{
  /* background-color: var(--Color-Neutral-0);
  color: var(--Color-Primary-9); */
 }
 .My_projects{
  background-color: var(--Color-Primary-9);
  border-style: solid;
  height: 58.125rem;
  margin-bottom: 4.4375rem;
 }div.light .My_projects{
  background-color: var(--Color-Neutral-0);
  color: var(--Color-Primary-9);
 }
 .Footer{
  background-color: var(--Color-Primary-9);
  border-style: solid;
  /* height: 11.875rem; */
  height: 30rem;
 }div.light .Footer{
  background-color: var(--Color-Neutral-0);
  color: var(--Color-Primary-9);
 }




 /* content */

 /* home */
 #home {
  display: grid;
  width: 100%;
  height: 100%;
  /* background-color: #094043; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 4.9% 4.9% 4.9% 4.9% 4.9% 4.9% 4.9% 4.9% 4.9% 4.9% 4.9%; */
  column-gap: 1fr;
  /* grid-column: 4/11 */

 }
 .home_content_1{
  /* background-color: #aadfe2; */
  grid-column: 2/11;
 }
  #home_div_1_part1{
    margin-top: 8px;
    /* width: 50vw; */
    color: var(--Color-Second-3);
    font-size: 1.6rem;
  } div.light  #home_div_1_part1{
    color: var(--Color-Primary-6);
  }
  #home_div_1_part2{
    margin-top: 1rem;
    /* width: 70vw; */
    height: 6vh;
    font-weight: 500;
    color: var(--Color-Second-1);
    font-size: 2.5rem;
    font-family: "Nunito bold";
  } div.light  #home_div_1_part2{
    color: var(--Color-Primary-7);
  }
  #home_div_1_part2_1-2{
    margin-top: 8px;
    /* width: 70vw; */
    height:6vh;
    font-weight: 500;
    color: var(--Color-Second-1);
    font-size: 2.5rem;
    font-family: "Nunito bold";
  } div.light   #home_div_1_part2_1-2{
    color: var(--Color-Primary-7);
  }
  #home_div_1_part3{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--Color-Second-0);
  }  div.light #home_div_1_part3{
    color: var(--Color-Primary-6);
  }
  #home_div_1_part3_1-2{
    margin-top: 8px;
    font-family: "Nunito bold";
    font-size: 1rem;
    font-weight: 700;
    color: var(--Color-Second-0);
  }div.light #home_div_1_part3_1-2{
    color: var(--Color-Primary-7);
  }

  /* About me */
  #about_me {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .about_me_content_1{
    /* background-color: #1BC1CA; */
    grid-column: 2/11;
  }
  .about_me_content_2{
    /* background-color: #67dbe1; */
    grid-column: 2/11;
  }
  .about_me_content_3{
    /* background-color: #436061; */
    grid-column: 2/11;
  }
  .about_me_content_4{
    background-color: var(--Color-Neutral-8);
    border-radius: 1rem;
    grid-column: 2/6;
  }  div.light .about_me_content_4{
    background-color: var(--Color-Second-1);
    color: var(--Color-Primary-9);
  }
  .about_me_content_5{
    background-color: var(--Color-Neutral-8);
    border-radius: 1rem;
    grid-column: 7/11;
  } div.light .about_me_content_5{
    background-color: var(--Color-Second-1);
    color: var(--Color-Primary-9);
  }
  .about_me_content_6{
    margin-top: 1rem;
    /* background-color: #083132; */
    grid-column: 2/11;
  }
  
  .about_me_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: var(--Color-Second-7);
    font-family: 'Nunito bold';
  } div.light .about_me_title{
      color: var(--Color-Second-8);
    }
  .about_me_img{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      .about_me_img img{
        height: 12rem;
        border-radius: 2rem;
      }
  .about_me_description{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--Color-Second-0);
    font-family: 'Nunito bold'; 
    font-size: 14px;
    margin-bottom: 1rem;
  }  div.light .about_me_description{
    /* font-family: 'Nunito bold';  */
    color: var(--Color-Primary-9);
  }
  .about_me_status{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
  }    
      .about_me_status img{
        height: 1.5rem;
        margin-top: 8px;
        margin-bottom: 1rem;
      }
      #Open_to_work_p_2{
        color: var(--Color-Second-1);
      }  div.light #Open_to_work_p_2{
          color: var(--Color-Second-8);
        }
  .about_me_availability{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 1rem;
  }
      .about_me_availability img{
        height: 1.5rem;
        margin-top: 8px;
        margin-bottom: 1rem;
      }
      #availability_p_2{
        color: var(--Color-Second-1);
      } div.light #availability_p_2{
        color: var(--Color-Second-8);
      }
  .about_me_button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
      .about_me_button button{
        height: 2rem;
        width: 100%;
        border-radius: 8px;
        background-color: var(--Color-Primary-5);
        color: var(--Color-Second-0);
        border: none;
      }  div.light .about_me_button button{
        background-color: var(--Color-Second-6);
      }
          .about_me_button button a{
            text-decoration: none;
            color: var(--Color-Second-0);
          }


/* Skills */
#skills{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills_content_0{
  grid-column: 1/4;
}
    .skills_title{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.4rem;
      color: var(--Color-Second-7);
      font-family: 'Nunito bold';
    } div.light .skills_title{
      color: var(--Color-Second-8);
      }
.skills_content_1{
  grid-column: 1/2;
  margin-top: 0.5rem;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}  div.light .skills_content_1{
    color: var(--Color-Primary-9);
  }
.skills_content_2{
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}  div.light .skills_content_2{
    color: var(--Color-Primary-9);
  }
.skills_content_3{
  grid-column: 3/4;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_3{
  color: var(--Color-Primary-9)
}
.skills_content_4{
  grid-column: 1/2;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_4{
  color: var(--Color-Primary-9)
}
.skills_content_5{
  grid-column: 2/3;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_5{
  color: var(--Color-Primary-9)
}
.skills_content_6{
  grid-column: 3/4;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_6{
  color: var(--Color-Primary-9)
}
.skills_content_7{
  grid-column: 1/2;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_7{
  color: var(--Color-Primary-9)
}
.skills_content_8{
  grid-column: 2/3;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_8{
  color: var(--Color-Primary-9)
}
.skills_content_9{
  grid-column: 3/4;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_9{
  color: var(--Color-Primary-9)
}
.skills_content_10{
  grid-column: 1/2;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_10{
  color: var(--Color-Primary-9)
}
.skills_content_11{
  grid-column: 2/3;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_11{
  color: var(--Color-Primary-9)
}
.skills_content_12{
  grid-column: 3/4;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_12{
  color: var(--Color-Primary-9)
}
.skills_content_13{
  grid-column: 1/2;
  margin-top: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
} div.light .skills_content_13{
  color: var(--Color-Primary-9)
}
