

.project_card{
    /* background-color: aqua; */
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.card_content_1 img{
    margin-top: 2rem;
    width: 84vw;
    margin-bottom: 0.5rem;
}
.card_content_2{
    width: 84vw;
    /* border: 1px solid red; */
    background-color: var(--Color-Neutral-8);
    padding: 8px;
    font-size: 12px;
    color: var(--Color-Second-0);
    margin-bottom: 1rem;
} div.light .card_content_2{
        background-color: var(--Color-Second-1);
        color: var(--Color-Primary-9);
    }
.card_content_3{
    width: 84vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card_content_3 a{
    text-decoration: none;
    color: var(--Color-Second-0);
}
.card_content_3 button{
    height: 2rem;
    width: 39vw;
    border-radius: 8px;
    border: none;
    background-color: var(--Color-Primary-5);
} div.light .card_content_3 button{
    background-color: var(--Color-Second-6);
  }